*{
  font-size: 19px;
}

label, input {
  cursor: pointer;
}

.quiz > form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question {
  background-color: #18191A;
  border-radius: 10px; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  margin-top: 50px;
  padding: 10px;
  gap: 10px;
  max-width: 50%;
  min-width: 50%;
}

.questionCardTitle {
  background-color: #242526;
  border-radius: 5px; 

  padding: 15px;
  margin-top: 10px;
  font-size: 1.2em;
  text-align: center;
  max-width: 100%;
  min-width: 100%;
}

.questionCardAnswer {
  background-color: #242526;
  border-radius: 5px; 

  font-size: 1em;
  padding: 15px;
  margin-top: 5px;
  max-width: 100%;
  min-width: 100%;
}

.questionCardAnswer:hover {
  outline: 1px solid #373F51;
  background-color: #373F51;
  cursor: pointer;
}

.inf02Image{
  border-radius: 5px; 

  padding: 15px;
  margin-top: 12px;
  background: #fff;
  text-align: center;
  min-width: 100%;
}

.inf02Image img {
  width: auto;
  max-width: 100%;
}

.odpChecked{
  background-color: #373F51;
}