.QuestionCardCheckbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    height: 1.45em;
  }
  
  .QuestionCardCheckbox:hover{
    background-color: #131415;
    transition: background-color 0.2s;
  }

  .QuestionCardCheckbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .QuestionCardCheckboxCheckmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: px solid #ccc;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .QuestionCardCheckbox:hover input ~ .QuestionCardCheckboxCheckmark {
    background-color: #ccc;
  }
  
  .QuestionCardCheckbox input:checked ~ .QuestionCardCheckboxCheckmark {
    background-color: #2196F3;
    border: none;
  }
  
  .QuestionCardCheckboxCheckmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .QuestionCardCheckbox input:checked ~ .QuestionCardCheckboxCheckmark:after {
    display: block;
  }
  
  .QuestionCardCheckbox .QuestionCardCheckboxCheckmark:after {
    left: 8px;
    top: 4px;
    width: 8px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
  